*:not(.skills){
  margin:0;
  padding:0;
}
/*Social Media*/
.socialmedia img{
  height:35;
  width:35px;
  display:flex;
  padding-bottom:10px;
  z-index:3;
  transition: transform 0.3s ease-in-out;
}
.socialmedia img:hover{
  transform: scale(1.2);
}
.line{
  background-color:black;
  width:3.5px;
  height:159px;
  margin-left:16px;
  border-radius: 15%;
}
.link{
  margin-left:0px;
  margin-right:0px;
}
.socialmedia{
   position: fixed;
   bottom: 0px;
   left:35px;
}
/* name */
.name{
  font-family: "Cookie", serif;
  font-weight: 700;
  font-size:40px;
  font-style:normal;
  margin-left:35px;
  margin-top: 45px;
  padding-bottom: 38px;
  z-index:3;
}
/*Page side*/
.side{
  margin-left:35px;
  margin-top:18vh;
  background: cover;
}
.page{
  overflow-y: hidden;
}
.side a{
  text-decoration: none;
  color:black;
}
.project-head{
  writing-mode: vertical-rl; 
  transform:rotate(180deg);
  margin-bottom:10vh;
}
.side , .bottom , .right{
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 23px;
  font-style: normal;
}
/* page bottom */
.bottom{
  position: absolute;
  bottom:10%;
  left:40%;
  display: flex;
}
.bottom p{
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
}
.bottom a{
  text-decoration:none;
  color: black;
  margin-right:15vw;
}
.bottom p:hover{
  transform: scale(1.2);
}
/* page right */
.right p:hover{
  transform: scale(1.2);
}
.right p{
  transition: transform 0.3s ease-in-out;
}
.right a{
  text-decoration: none;
  color: black;
}
.right{
  writing-mode: vertical-rl;
  position: absolute;
  right:35px;
  top:42%;
}

/* page center */
.center img{
  height:100px;
  width:100px;
}
.center{
  position: absolute;
  bottom:47%;
  left:45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center img{
  transform: rotate(45deg);
  animation: rotate 1.5s linear infinite 500ms;
}
@keyframes rotate { 
  from { 
    transform: rotate(0deg); 
  } 
  to 
  { 
    transform: rotate(360deg); 
  }
}

/* projects */
.project{
  background-color:rgb(50, 45, 45);
  max-width: 100%;
  height: 100vh;
  position: fixed;
  overflow-x: auto; 
  overflow-y: none;
  display: flex;
  scroll-snap-type: x mandatory; 
  scrollbar-width: none;
  -ms-overflow-style: none; 
}
.project::-webkit-scrollbar {
  display: none; 
}
.project-name{
  font-family: "Cookie", serif;
  font-weight: 700;
  font-size:40px;
  font-style:normal;
  margin-left:35px;
  margin-top: 45px;
  position: fixed;
  color: white;
}
.words{
  font-size: 45px;
  font-family: "Varela Round", serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(252, 246, 244, 0.2);
}
.work{
  position:fixed;
  top:10%;
  right:20%;
  z-index: 0;
}
.swipe{
  position: fixed;
  right:0%;
  top: 80%;
  z-index: 0;
}
.card-front hr{
  justify-content: center;
  align-items: center;
  border:1px solid black;
}
.card-front p{
  padding-top:15px;
  line-height: 1.6;
}
.card-front h3{
  height:20vh;
}
.bc{
  width:60%;
  height:25%;
  position:absolute;
  top:11vh;
  left:22%;
}
.git{
  width: 30px;
  height: 30px;
  position: absolute;
  right:13%;
  bottom:5%;
}
.visit{
  bottom:5%;
  text-decoration: none;
  position: absolute;
  width: 70px;
  padding:5px;
  left:13%;
  color:white;
  background-color: rgb(62, 51, 51);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
}
.card:hover{
  cursor: pointer;
}
.card-front{
  width:  220px;
  height: 320px;
  background-color: bisque;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  font-style: normal;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index:5;
  margin: 10px;
  padding:2rem;
  position:relative;
  transform-style: preserve-3d; 
  transition: transform 0.8s;
}
.project ul{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  list-style:none;
  margin-right:35px;
  margin-left: 35px;
}
/* about */
.about-center{
  position: fixed;
  top:80%;
}
.about{
  background-color: black;
  width: 100%;
  height: 100vh;
}
.about-box{
  border:2px solid rgb(252, 246, 244);
  width:56vw;
  height:60vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top:10rem;
  left:25%;
}
.about-box h4{
  color:rgb(252,246,244);
  padding:1.4rem;
  font-family: "Ubuntu Mono", serif;
  font-style: italic;
  line-height: 1.5;
  z-index:3;
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0,0);
  font-size:calc(0.4rem + 0.8vw);
}
.about-back{
  position: fixed;
  top:15%;
  left:17%;
  font-size: calc(5rem+5vw);
}
/* skills */

.tools{
  border:2px solid black;
  padding:2rem;
  font-family: "Ubuntu Mono", serif;
  line-height: 1.5;
  -webkit-box-pack: justify;
  backdrop-filter:blur(4px);
  z-index:5;
}
.tech{
  border:2px solid black;
  padding:2rem;
  line-height: 1.5;
  backdrop-filter:blur(4px);
  z-index:5;
  font-family: "Ubuntu Mono", serif;
  -webkit-box-pack: justify;
}
.skill-back{
  position: fixed;
  top:85%;
  right:13%;
  font-size: 61px;
  font-family: "Varela Round", serif;
  font-weight: 1700;
  font-style: normal;
  color:rgb(167, 147, 147);
  z-index:0;
}
.tools:hover{
  color: white;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.73);
}
.tech:hover{
  color: white;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.73);
}
.skill-name{
  position: fixed;
}
.skill-sec{
  position:absolute;
  left:15%;
  top:14%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 768px) {
    .skills p{
      font-size: 18px;
      font-weight: 110;
    }
    .skills h3{
      font-size: 20px;
    }
    .skill-sec{
       position: absolute;
       left:18%;
       right:15%;
    }
    .tools{
      margin-bottom: 20px;
      width:60vw;
    }
    .tech{
      width: 60vw;
      margin-bottom: 25px;
    }
}
@media (min-width: 769px) {
  .skills p{
    font-size:25px;
    font-weight: 150;
  }
  .skills h3{
    font-size: 25px;
  }
  .skill-sec{
    position: absolute;
  }
  .tools{
    margin-right: 20px;
    width: 30vw;
    height: 60vh;
  }
  .tech{
    width: 30vw;
    height: 60vh;
  }
}
/** Particle **/
.area{  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;  
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0.5s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/** Feats **/
.feats{
  background: linear-gradient(rgba(252, 246, 244, 0.8), rgba(252, 246, 244, 0.8)),url('./assets/feats.jpg');
  max-width: 100%;
  position: fixed;
  top:0%;
  right:0%;
  left:0%;
  overflow: hidden;
  height: 100vh;
  z-index: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.feats-word{
  font-family: "Varela Round", serif;
  font-weight: 1000;
  font-style: normal;
  position: fixed;
  top: 6rem;
  left: 5rem;
  color: rgba(0, 0, 0, 0.2);
  font-size: calc(3rem + 4vw);
  z-index: 1;
}
.list img{
  height:70%;
  width:100%;
}
.name{
  position: fixed;
}
.features ul{
  list-style: none;
  margin-top:20vh;
  flex-wrap: wrap;
  gap: calc(3rem + 2vw);
  margin-bottom: 10%;
}
.list{
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1rem 0px;
  text-decoration: none;
  width: calc(10rem + 15vw);
  height: 20rem;
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem;
  color: rgb(0, 0, 0);
  z-index: 5;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
}
.list:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}
@media (max-width: 768px) {
  .features ul{
    display:grid;
    grid-template-columns: repeat(2, minmax(calc(11rem + 20vw),fr));
    margin-left:22.5%;
    margin-right: 20%;
  }
}

@media (min-width: 769px){
  .features ul{
    display: grid;
    grid-template-columns: repeat(2, minmax(calc(10rem + 15vw),1fr));
    margin-left: 20%;
    margin-right: 20%;
  }
}
.side1{
  position: fixed;
  top:0px;
  right:1%;
  width:130px;
}